@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;1,400&family=Nunito:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito', sans-serif;
}

header{
    margin: 10px;
    text-align: center;
}
main{
    width: 100%;
}
section{
    background-color: rgb(0, 255, 149);
    margin: 10px 10px;
    float: left;
    position: relative;
}

h3{
    position: absolute;
    right: 0;
    background-color: rgb(2, 117, 79);
    padding: 5px;
    color: whitesmoke;
}
p{
    width: 80%;
    padding-top: 20px;
    padding: 10px;
}
.large,
.small,
.medium {
    float: left;
    border: 1px solid black;
}

/*THE MEDIA QUERIES*/

/*FOR LARGE DEVICES*/

@media screen and (min-width: 992px) {
        .large{
            width: 25%;
            float: left;
        }
        .margin {
            margin-left: 100px;
        }
}

/*FOR MEDIUM DEVICES*/
@media (min-width: 768px) and (max-width: 991px) {
    .medium{
        width: 40%;
        float:left;
        margin: auto 20px;

    }
    
}